button.button {
  height: 3.25rem;
  width: 100%;
  outline: none;
  overflow: visible;
  max-width: none;
  margin: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 14px;
}

button.button:hover {
  background-color: #000;
  color: #fff;
  border-color: grey;
}

button.button--primary {
  background: #000;
  border: 1px solid #000;
}

button.button--secondary {
  border: 1px solid #000;
  color: #000;
}

button.button--fit-content {
  width: auto;
  padding: 4px 1rem;
}
