.footer {
  margin-top: 100px;
  padding-bottom: 84px;
}

.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav__item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer__label {
  font-weight: 700;
  margin-top: 120px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.footer__content {
  margin-top: 1rem;
}

.footer__content-des {
  font-size: 32px !important;
}

.footer__caption-wrapper {
  display: inline-block;
  margin-top: 5.8px;
  text-align: center;
}

.footer__caption {
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  width: 285px;
}

.footer__caption::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 1px;
  left: -4px;
  top: 8px;
  background-color: black;
}
