* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTab-root {
  padding-left: 0 !important;
  min-width: revert !important;
  padding-right: 25px !important;
}

.MuiTabs-indicator {
  background-color: transparent !important;
}

.Mui-selected {
  color: black !important;
}

.swiper .swiper-pagination-bullet {
  border-radius: 0;
  width: 16px;
  height: 2px;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black;
}
